{% extends 'Layout.html' %}

{% block title %} TecnoInfo {% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1 class="text-center">TecnoBoot</h1>
        <p class="text-center">TecnoBoot es una empresa Putumayense con personas formadas profesionalmente en su misma región </p>
        <br>
        <p class="text-center">Personal con más de siete años de experiencia en componentes hardware y software, al trabajar con distintos comercios se ha logrado identificar de manera puntual las necesidades del mercado y por ende se busca dar un servicio que sastifaga de manera óptima esas necesidades</p>
    </div>

    <div>
        <h1 class="text-center">Misión</h1>
        <p class="text-center">Brindar un servicio de calidad a nuestros clientes, con el fin de que estos se sientan satisfechos con nuestro trabajo, buscar siempre las mejores alternativas para dar solución a los requerimientos que se presenten</p>
    </div>

    <div>
        <h1 class="text-center">Visión</h1>
        <p class="text-center">Ser una empresa reconocida a nivel nacional por la calidad de nuestros servicios y la satisfacción de nuestros clientes, por otro lado, cambiar el enfoque del mercado en cuanto a las asesorías en la compra de activos de las empresas y personas naturales</p>
    </div>

    <div>
        <h1 class="text-center">Valores</h1>
        <p class="text-center">Honestidad, responsabilidad, compromiso, calidad, puntualidad, confianza, respeto, trabajo en equipo, innovación, servicio al cliente</p>
    </div>
</div>
{% endblock %}