{% load static %}
<!DOCTYPE html>

<body>                     
  <div class="card mb-3">
    <img src="{% static 'img/soporte.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3>Servicios</h3>
      <p class="card-text">
        En TecnoBoot contamos con una variedad de servcios, desde asesorías, reparación de equipos, instalación
        de software, entre otros.
        El valor agregado de nuestros servcios es la calidad en cada uno de estos, ya que la experiencia de nuestro
        equipo de trabajo
        puede garantizar que cada servicio sea de la mejor calidad y además brindará las recomendaciones puntuales de
        uso en cada una de las visitas, de esta forma ahorras tiempo y dinero.
      </p>
    </div>
  </div>
 
</body>

</html>