
{% extends 'Layout.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
<h1>
    <p class="text-center">Bienvenido a Tecnoboot</p><br>
</h1>

<div class="container" >
<form class="mb-3 " action="" id="servicio" style="float: right;">
    <h4>Contratar un servico técnico</h4>
    <div class="form-group col-12 mb-4">
        <label class="form"  for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-group col-12 mb-4">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
    </div>
    <div class="form-group col-12 mb-4">
        <label for="ciudad">Ciudad</label>
        <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
    </div>
    <div class="form-group col-12 mb-4">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion">
    </div>
    <div class="form-group col-12 mb-4">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
    </div>
    <div class="form-group col-12 mb-4">
        <label for="servicio">Servicio</label>
        <select class="form-control" id="servicio" name="servicio">
            <option value="1">Mantenimiento preventivo - correctivo</option>
            <option value="2">instalacion de programas</option>
            <option value="3">Requiero una visita para evaluar </option>
        </select>
    </div>
    <div class="form-group col-12 mb-4">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>



<h3>¿sabes que es un mantenimiento preventivo?</h3>
<h5>Déjanos ilustrarte un poco del tema</h5>
<p>En el siguiente video te mostraremos los tipos de mantenimiento y sus beneficios y ahorros a corto y largo plazo</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/thij3R43T8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qZnhG4VJ6WY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



{% endblock %}

