
{% extends 'Layout.html' %}
{% load static %}
{% block title %} Inicio {% endblock %}

{% block content %}

<div class="container mb-5">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/imgi.png' %}" height="300">>
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




</div>














<div class="container">
<div class="row " >
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 mb-5">

        <h3 class="py-4">¿sabes que es un mantenimiento preventivo?</h3>

        <h5 class="">Déjanos ilustrarte un poco del tema</h5>
        <p>En el siguiente video te mostraremos los tipos de mantenimiento y sus beneficios y ahorros a corto y largo plazo</p>
        <iframe class="card-responsive" width="560" height="315" src="https://www.youtube.com/embed/thij3R43T8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <iframe class="responsive" width="560" height="315" src="https://www.youtube.com/embed/qZnhG4VJ6WY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h4>Contratar un servico técnico</h4>
        <div class="card">
            <div class="card-body">

                <form action="/solicitarServicio/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" minlength="3" required>
                    </div>
                    <div class="form-group mb-3">
                    <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" minlength="3" required>
                    </div>
                    <div class="form-group mb-3">
                    <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Telefono" minlength="10" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="ciudad" name="ciudad" class="form-control" placeholder="Ciudad" value="Mocoa" minlength="4" required>
                        </div>
                    <div class="form-group mb-3">
                    <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección" minlength="5" required>
                    </div>

                    <div class="form-group mb-3">
                    <label for="servicio">Servicio</label>
                        <select class="form-control " id="servicio" name="servicio">
                            {% for s in servicios %}
                            <option id="opc" value= '{{ s.descripcion }}'>{{ s.servicio }} </option>                         
                            {% endfor %}
                        </select>
                        <br>
                        <label class="form-control" rows="3">Aquí verás la descripcion del servico</label>
                        <textarea class="form-control" id="desc" name="desc" rows="carousel-caption"></textarea>
                        <script>
                            var select = document.getElementById('servicio');
                            var informacion = document.getElementById('desc');
                            select.addEventListener('change', function(){
                                informacion.value = this.value;
                            });                            
                        </script>
                        
                        
                    </div>
                    
                    <div class="form-group mb-3">
                    <input type="submit" value="Enviar" class="btn btn-primary">
                    </div>

                </form>
                
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

